@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');

body {
    background-color: white;
}
.margins {
    float: right;
    text-align: center;
    margin-right: 100px;
    font-weight: bold;
}
.black {
    background-color: black;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

ul {
    white-space: nowrap;
}
.fonts {
    font-family: "Playwrite Au QLD", cursive;
    font-weight: bolder;
    
}

