body {
    background-color: white;
}
.margins {
    float: right;
    text-align: center;
    margin-right: 100px;
}
.black {
    background-color: black;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}
